.videoback{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -10;
    margin: none;
}

#header{
    margin-bottom: 75px;
}

.logo{
    margin-top: 65px;
    margin-left: 90px;
}

.searchbar{
    margin-left: 250px;
    padding-right: 40px;
    position: absolute;
    margin-top: 120px;
    font-family: montserrat;
    font-weight: lighter;
    font-size: 14pt;
    border: none;
    background-color: white;
    opacity: 70%;
}

.fa-search{
    margin-left: 220px; 
    position: absolute;
    margin-top: 125px; 
    color: grey;
    opacity: 70%;
}

.fa-user{
    color: grey; 
    position: absolute; 
    margin-left: 870px;
    margin-top: 125px; 
    opacity: 70%;
}

.fa-shopping-cart{
    color: grey; 
    position: absolute; 
    margin-left: 910px;
    margin-top: 125px; 
    opacity: 70%;
}

body{
    margin:0px;
}

a{
    text-decoration: none;
    color: black;
}

a :hover{
    color: #18929b;
    font-weight: 400;
}

#contenido{
    margin-top: 100px;
}

.contenidodos{
    display: flex;
    justify-content: row;
}

.col{
    font-family: montserrat;
    font-weight: lighter;
    margin-left: 90px;
    font-size: 18pt;
}

.frase{
    font-family: helvetica neue;
    font-weight: bold;
    color: #dad8c0;
    font-size: 60px;
    display:flex;
    justify-content: flex-end;
    margin: 10px;
    margin-right: 75px;
}

.imagenproductos{
    width: 600px;
    height: auto;
    margin-left: 60px;
}

.shopnow{
    font-family: montserrat;
    font-weight: lighter;
    margin-left: 300px;
    font-size: 18pt;
    text-decoration: underline;
    margin-top: 250px;
}

.location{
    font-family: montserrat;
    text-align: center;
    font-size: 16pt;
    font-weight: lighter;
    margin-top: 60px;
    margin-bottom: 60px;
}

.titulo{
    font-family: montserrat;
    font-weight: bold;
    font-size: 14pt;
}

.texto{
    font-family: montserrat;
    font-weight: lighter;
    font-size: 12pt;
}

#productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 20px;
    
}

.productoitem{
    width: 300px;
}

button{
    font-family: montserrat;
    font-size: 12pt;
    border: none;
    background-color: #dad8c0;
    color: grey;
    margin-bottom: 100px;
    padding: 10px;
    cursor: pointer;
}

.contactform{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    width: 50%;
}

.inputform{
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 12pt;
}

.titulolabel{
    font-family: montserrat;
    font-size: 14pt;
    padding-bottom: 5px;
}